.windowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: calc(1/18 * 100vw); /* Left border spacing */
    padding-right: calc(1/18 * 100vw); /* Right border spacing */
}

.columnPairContainer {
    display: flex;
    flex: 1; /* Allows column pairs to take up remaining space */
    /* flex: 0 0 calc(6/18 * 100%); */
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.columnPairContainer:first-child {
    border-right: none /* Prevent overlapping borders */
}

.navContainer {
    flex: 0 0 calc(4/18 * 100%); /* Width of navigation area (1 - (2 * 1/18 + 2 * 6/18) = 4/18) */
}