.browseColumn {
    flex: 1; /* Allows column to take up unused space */
    height: 100vh;
    width: calc(3/18 * 100%);
    overflow-y: scroll; /* Enables vertical scrolling */
}

.browseColumnBlock {
    height: 50vh; /* Half of viewport height */
    width: 100%; /* Fits column width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures image does not overflow the block */
    border-bottom: 2px solid black;
    border-top: none; /* Prevents overlapping of borders */
}

.blockTitle {
    font-family: "neue-haas-grotesk-text", sans-serif;   /* Neue Haas Grotesk Display font family */
    font-style: normal;
    font-weight: 600; 
    font-size: 16px;
}

.blockDescription {
    font-family: "neue-haas-grotesk-text", sans-serif;   /* Neue Haas Grotesk Display font family */
    font-style: normal;
    font-weight: 600; 
    padding-bottom: 16px;
    font-size: 16px;
}

.columnBlockImage {
    height: 75%;
    width: 85%;
    object-fit: contain; /* Ensures image fits the block area */
}