.navButton {
    background-color: white;
    padding: 12px 44px;
    border: 2px solid black;
    border-radius: 16px;
    cursor: pointer;
    font-family: "neue-haas-grotesk-text", sans-serif;   /* Neue Haas Grotesk Display font family */
    font-style: normal;
    font-weight: 700;                                       
    font-size: 24px;
    transition: opacity 0.3s;
    text-decoration: none;
}

.navButton:hover {
    opacity: 0.8;
}

.navButton:active {
    transform: scale(0.95);
}
